@{
    ViewData["Title"] = "Home Page";
}
<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">
            <i class="fa fa-dashboard" aria-hidden="true"></i>
            <cite>控制面板</cite>
        </li>
    </ul>
    <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
        <div class="layui-tab-item layui-show">
            <iframe src="/Admin/Menu/Index"></iframe>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        

    })
</script>